<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zendalona.zTextGrab">

    <!--
 ===========================================================================
 === ADDED MISSING PERMISSIONS HERE ========================================
 ===========================================================================
 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ===================================================================== -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- This is your main activity -->
        <activity
            android:name="com.zendalona.zTextGrab.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Your other existing activities -->
        <activity
            android:name="com.zendalona.zTextGrab.SettingsActivity"
            android:parentActivityName="com.zendalona.zTextGrab.MainActivity" />
        <activity
            android:name="com.zendalona.zTextGrab.SavedResultsActivity"
            android:parentActivityName="com.zendalona.zTextGrab.MainActivity" />

        <!-- This is our new setup activity -->
        <activity
            android:name="com.zendalona.zTextGrab.LanguageSetupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <!-- This is the FileProvider for the camera/cropper -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>